$primary: #00a8ff;
$secondary: #b3c5ef;
$background: #040f13;

$colours: (
  "primary": $primary,
  "secondary": $secondary,
  "background": $background,
  "white": #fff,
);

$spacers: (
  0: 0px,
  1: 5px,
  2: 10px,
  3: 15px,
  4: 20px,
  5: 25px,
  6: 30px,
  7: 35px,
  8: 40px,
  9: 45px,
  10: 50px,
  11: 55px,
  12: 60px,
  13: 65px,
  14: 70px,
  15: 75px,
);
