@import "./variables.scss";

body {
  background-color: black;
  background-image: url("/icons/star-bg.svg");
  background-size: contain;
  background-position: center;
}

.max-width {
  max-width: 350px;
  margin: 0 auto;

  @include sm-up {
    max-width: 500px;
  }
}

@each $name, $colour in $gc-colours {
  .xf-bg-#{$name} {
    background: $colour;
  }

  .xf-icon-colour-#{$name} {
    :deep(path),
    :deep(rect) {
      fill: #{$colour} !important;
    }
  }

  .xf-text-colour-#{$name} {
    color: $colour;
  }
}
