@import "font";
@import "variables";
@import "transitions";

* {
  box-sizing: border-box;
}

html,
body,
#default,
#__nuxt,
.v-application,
.v-application__wrap {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $secondary;
  letter-spacing: 1px;
}

body,
button,
.v-application {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.gc-link {
  cursor: pointer;

  a {
    color: $secondary;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }
}

.spacer {
  flex-grow: 1;
}

.w {
  &-100 {
    width: 100%;
  }

  &-90 {
    width: 90%;
  }

  &-85 {
    width: 85%;
  }

  &-80 {
    width: 80%;
  }

  &-50 {
    width: 50%;
  }
}

.text {
  &-uppercase {
    text-transform: uppercase;
  }

  &-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-underline {
    text-decoration: underline;
  }

  &-10 {
    font-size: 10px;
  }

  &-12 {
    font-size: 12px;
  }

  &-14 {
    font-size: 14px;
  }

  &-16 {
    font-size: 16px;
  }

  &-18 {
    font-size: 18px;
  }

  &-24 {
    font-size: 24px;
  }

  &-28 {
    font-size: 28px;
  }
}

.fw {
  &-600 {
    font-weight: 600;
  }

  &-700 {
    font-weight: 700;
  }
}
