@import "variables";
@import "transitions";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $background;
  font-family: "Poppins", sans-serif;
  color: $secondary;
}

.link {
  cursor: pointer;

  a {
    color: $secondary;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }
}
